<iframe width="560" height="315" src="https://www.youtube.com/embed/hQ91CAg7Dqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2>What is Multimedia Computing?</h2>

<p align="left">Computing changed dramatically in the 1980s. The emergence of the personal computer desktop as a standard has spawned the existence of an incredible 60 million personal computers worldwide. </p>
<p align="left">The focus of the 1980s on smaller, faster computers and more advanced software with more features had many positive benefits the engineers and educators. </p>
<p align="left">To enhance this productivity, the challenge of the 1990s will be to make computers more personal and integrated with the way people work: the indispensable tools that people reach for when they want to design a structure, to be educated, informed or entertained. </p>
<p align="left">Multimedia computing is a new technology that is bringing a brand new horizon to computing. </p>
<p align="left">Multimedia computing is simple: the integration of sound, video, animation, photo-quality images, with text, graphics and computing. Yet this simple idea will have a remarkable impact on the way the computers will be used in 1990s.</p>

<h2>What is Graphics Computing?</h2>

<p align="left">Computer graphics is the discipline of generating images with the aid of computers. </p>
<p align="left">Today, computer graphics is a core technology in digital photography, film, video games, cell phone and computer displays, and many specialized applications. </p>
<p align="left">A great deal of specialized hardware and software has been developed, with the displays of most devices being driven by computer graphics hardware. </p>
<p align="left">It is a vast and recently developed area of computer science. The phrase was coined in 1960 by computer graphics researchers Verne Hudson and William Fetter of Boeing. </p>
<p align="left">It is often abbreviated as CG, or typically in the context of film as CGI.</p>

<p align="left">Some topics in computer graphics include user interface design, sprite graphics, rendering, ray tracing, geometry processing, computer animation, vector graphics, 3D modeling, shaders, GPU design, implicit surface visualization, image processing, computational photography, scientific visualization, computational geometry and computer vision, among others.</p>
<p align="left">The overall methodology depends heavily on the underlying sciences of geometry, optics, physics, and perception.</p>

<p align="left">Computer graphics is responsible for displaying art and image data effectively and meaningfully to the consumer. </p>
<p align="left">It is also used for processing image data received from the physical world. Computer graphics development has had a significant impact on many types of media and has revolutionized animation, movies, advertising, video games, and graphic design in general.</p>
