<!-- <head>
<link rel="stylesheet" type="text/css" href="css/m.css">
<script src="js/mmm99.js"></script>

</head>

<p>
<ul>
  <div class="top"></div>
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/message">Message</a></li>
  </div>
  <div class="profile">
    <li><a href="/profile">Profile</a></li>
  </div>
</ul>
</p>
<center><h2><img src="img/grouplogo.png",alt = "logo",width = "200", height = "100"></h2>


<h3><i>A website about academic honesty and IT skills.</i></h3>



<p> -->
